*{
  font-family: 'Signika Negative', sans-serif;
}

body{
  height: 100vh;
  background-color: dodgerblue;
  color: white;
}
input{
  width: 200px;
}
.dropdown-item{
  background-color: white;
  width: 200px;
  color: black;
  border: solid black 1px;

}